@import '~src/styles/shared';

:host{
    width: 20%;
    height: 70%;
    background-color: $clear;
    border-radius: $round;

    @media only screen and (max-width: 1600px) { width: 30%; }
    @media only screen and (max-width: 1100px) { width: 40%; }
    @media only screen and (max-width: 770px) { width: 50%; }
    @media only screen and (max-width: 600px) { width: 70%; }
    @media only screen and (max-width: 500px) { width: 100%; }
}
